@charset "UTF-8";
/*************** G E N E R A L ***************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /*la dimensione generale per tutti i testi*/
  font-size: 75%;
}

body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  /*dimensione testo nel body*/
}

a {
  text-decoration: none;
  /*sottoliniatura del testo nei link*/
}

.clearfix::after {
  /*lezione 52 clearfix. in pochi parole uniamo tutti gli oggetti nella sezione gallery in un unico oggetto*/
  content: "";
  clear: both;
  display: table;
}

/*
        ************************************
        ************** M A I N *************
        ************************************
        */
body {
  background-image: url(../images/p1-1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body header {
  border-bottom: thick double #bbff33;
}

body header h1 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 2.5rem;
  color: #bbff33;
  font-size: 3.1rem;
}

body header form {
  position: absolute;
  top: 10px;
  left: 10px;
}

body header form button {
  border: none;
  border-radius: 10px;
  color: #e8ec14;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
  background-color: #080801;
  border: 3px solid #eeea09;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body #mainContent #mineSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #mainContent #mineSection .boxCV {
  color: #bdfdff;
  width: auto;
  background-color: #243142;
  opacity: .9;
  /*diamo un efetto trasparenza*/
  margin: 25px;
  -webkit-box-shadow: 0px 0px 7px 9px rgba(10, 63, 235, 0.596);
          box-shadow: 0px 0px 7px 9px rgba(10, 63, 235, 0.596);
  /*per fare la sfumatura. ordine di dati: asse X, asse Y, livello di trasparenza di sfumatura, difusione di sfumatura, e i colori. se vuoi l'ombra dal altro lato basta che inserisci il numero negativo sul asse X o Y (piano cartesiano)*/
  border-radius: 7px;
}

body #mainContent #mineSection .boxCV table {
  border: 2px solid #ecf006;
  border-spacing: 15px;
  margin: 10px;
}

body #mainContent #mineSection .boxCV table caption {
  font-size: 3rem;
  color: #fae673;
}

body #mainContent #mineSection .boxCV table tr th {
  border: 2px solid #ecf006;
}

/*
          ******************************************
          *************** F O O T E R **************
          ******************************************
          */
/************ beck to up button ******************/
.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: #2eb82e;
  color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: .5;
  z-index: 1;
}

#footerBoxCV {
  position: relative;
  clear: both;
  /*questo comando esola "FOOTER" da gli "FLOAT", cioè footer rimane sempre al suo posto*/
  width: 100%;
  border-top: 1px solid #528415;
  font-size: 1.2rem;
  /*dimensione del testo*/
}

#footerBoxCV .footerText {
  color: #ffad33;
  text-align: center;
}

#footerBoxCV .footerText .material-icons {
  /*mini icona di fianco al num di cell*/
  font-size: 13px;
}

#footerBoxCV .footerText .text1 {
  padding-left: 14px;
}

#footerBoxCV .footerLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px;
}

#footerBoxCV .footerLink .links {
  color: #bbff33;
  padding: 5px 10px;
}

#footerBoxCV .footerLink .links a {
  color: #09906e;
  padding-left: 3px;
}

#footerBoxCV .footerLink img {
  /*mini icona di fianco al num di cell*/
  float: left;
  width: 17px;
}

#footerBoxCV .myLogo {
  text-align: center;
  margin: 15px 50px 15px 50px;
}

#footerBoxCV .myLogo img {
  width: 200px;
}

#footerBoxCV .cvButton form {
  position: absolute;
  bottom: 25px;
  left: 15px;
}

#footerBoxCV .cvButton form button {
  border: none;
  border-radius: 10px;
  color: #e8ec14;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
  background-color: #080801;
  border: 3px solid #eeea09;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/**************************************************************************/
/**********************************************
              **** M E D I A   Q U E R Y S   LE Z I O N E 55 ****
                              === RESPONSIVE ===
                **********************************************/
@media only screen and (min-width: 999px) {
  body header button:hover {
    background: #eeea09;
    -webkit-transition: .5s;
    transition: .5s;
    color: black;
  }
  footer #footerBoxCV .links a:hover {
    /*pseudo class. qando passiamo con mous suopra cambia colore*/
    color: #40f2c8;
    text-decoration: underline;
  }
  footer #footerBoxCV .cvButton button:hover {
    background: #eeea09;
    -webkit-transition: .5s;
    transition: .5s;
    color: black;
  }
  /************ beck to up button ******************/
  .btn {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: #2eb82e;
    color: black;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: .5;
  }
  .btn:hover {
    height: 80px;
  }
}

/**************************************************************************/
@media only screen and (max-width: 767px) {
  /*
  ************************************
  ************** M A I N *************
  ************************************
  */
  body {
    background-image: url(../images/p2.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  body header {
    border-bottom: thick double #bbff33;
    margin-bottom: 45px;
  }
  body header h1 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 2.5rem;
    color: #bbff33;
    font-size: 1.9rem;
  }
  body header form {
    position: absolute;
    top: 80px;
    left: 10px;
  }
  body header form button {
    border: none;
    border-radius: 10px;
    color: #e8ec14;
    padding: 5px 9px;
    text-decoration: none;
    font-size: 12px;
    background-color: #080801;
    border: 3px solid #eeea09;
  }
  body #mainContent #mineSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #mainContent #mineSection .boxCV {
    color: #bdfdff;
    width: auto;
    background-color: #243142;
    opacity: .9;
    /*diamo un efetto trasparenza*/
    margin: 25px;
    -webkit-box-shadow: 0px 0px 7px 9px rgba(10, 63, 235, 0.596);
            box-shadow: 0px 0px 7px 9px rgba(10, 63, 235, 0.596);
    /*per fare la sfumatura. ordine di dati: asse X, asse Y, livello di trasparenza di sfumatura, difusione di sfumatura, e i colori. se vuoi l'ombra dal altro lato basta che inserisci il numero negativo sul asse X o Y (piano cartesiano)*/
    border-radius: 7px;
  }
  body #mainContent #mineSection .boxCV table {
    border: 2px solid #ecf006;
    border-spacing: 15px;
    margin: 10px;
  }
  body #mainContent #mineSection .boxCV table caption {
    font-size: 2.2rem;
    color: #fae673;
  }
  body #mainContent #mineSection .boxCV table tr {
    font-size: 1.2rem;
  }
  body #mainContent #mineSection .boxCV table tr th {
    border: 2px solid #ecf006;
  }
  /*
          ******************************************
          *************** F O O T E R **************
          ******************************************
          */
  /************ beck to up button ******************/
  .btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 37px;
    height: 37px;
    font-size: 1.5rem;
    background-color: #2eb82e;
    color: black;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: .5;
  }
  #footerBoxCV {
    position: relative;
    clear: both;
    /*questo comando esola "FOOTER" da gli "FLOAT", cioè footer rimane sempre al suo posto*/
    width: 100%;
    border-top: 1px solid #528415;
    font-size: .8rem;
    /*dimensione del testo*/
  }
  #footerBoxCV .footerText {
    color: #ffad33;
    text-align: center;
  }
  #footerBoxCV .footerText .material-icons {
    /*mini icona di fianco al num di cell*/
    font-size: 13px;
  }
  #footerBoxCV .footerText .text1 {
    padding-left: 7px;
  }
  #footerBoxCV .footerLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footerBoxCV .footerLink .links {
    color: #bbff33;
    padding: 5px 1px;
  }
  #footerBoxCV .footerLink .links a {
    color: #09906e;
  }
  #footerBoxCV .footerLink img {
    /*mini icona di fianco al num di cell*/
    float: left;
    width: 9px;
  }
  #footerBoxCV .myLogo {
    text-align: center;
    margin: 15px 50px 15px 50px;
  }
  #footerBoxCV .myLogo img {
    width: 130px;
  }
  #footerBoxCV .cvButton form {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  #footerBoxCV .cvButton form button {
    border: none;
    border-radius: 10px;
    color: #e8ec14;
    padding: 5px 9px;
    text-decoration: none;
    font-size: 12px;
    background-color: #080801;
    border: 3px solid #eeea09;
  }
}
/*# sourceMappingURL=style.css.map */